/* font-fmaily needs to be cursive. Troubleshoot issue!!*/

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: larger;
    font-family: 'Indie Flower', cursive;
    background-color: black;
    color: white;
}



.button {
    background-color: black;
    color: white;
    padding: 15px 25px;
    text-decoration: none;

}

nav ul {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}


.button1 {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
}

.section {
    text-align: center;
    font-size: large;
}


h2,
h3 {
    color: black;
}